# Ignore data and results directories
data/
results/

# Ignore CSV files
*.csv

# Ignore macOS system files
.DS_Store
.Trash/
.CFUserTextEncoding

# Python cache
__pycache__/
*.pyc

# VSCode settings
.vscode/

# Other common files
*.log
*.trk
*.zip
